<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027461628734-vqddb4nm1bamiqe1dlmft5tlk8beo4kp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027461628734-vqddb4nm1bamiqe1dlmft5tlk8beo4kp</string>
	<key>API_KEY</key>
	<string>AIzaSyCbPYt0imd8qbB98RBiCz37tBVZp5lzaTU</string>
	<key>GCM_SENDER_ID</key>
	<string>1027461628734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.Song.Login</string>
	<key>PROJECT_ID</key>
	<string>onboarding-5054d</string>
	<key>STORAGE_BUCKET</key>
	<string>onboarding-5054d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027461628734:ios:930cf5cd72c4dc4be3e26f</string>
	<key>DATABASE_URL</key>
	<string>https://onboarding-5054d.firebaseio.com</string>
</dict>
</plist>